/* Estilos para el menú de navegación */
nav {
    background-color: #02779B;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; /* Asegura que el nav ocupe el 100% del ancho de la pantalla */
}

nav a {
    background-color: #02779B;
    color: white;
    display: block;
    padding: 0.5rem;
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none; /* Quitar subrayado de los enlaces */
    font-family: 'ADLaM Display', sans-serif;
    font-size: 3vw; /* Ajusta el tamaño con relación al ancho de la pantalla */
    color: #e6c9c9;
}

/* Estilos para el título h1 */
h1 {
    font-family: 'ADLaM Display', sans-serif;
    font-size: 5vw; /* Ajusta el tamaño con relación al ancho de la pantalla */
    color: #333;
    text-align: center;
    width: 100%; /* Asegura que ocupe el 100% del ancho */
}



/* Estilos para los párrafos */
p {
    margin: 0.1rem;
    font-size: 1.4rem; /* Fuente un poco más grande */
    font-weight: 2;
    
    word-spacing: 0; /* Elimina espacio adicional entre palabras */
    line-height: 1.1
}
/* Estilos para las imágenes en main */
main img {
    width: 30vw; /* La imagen ocupa el 40% del ancho de la pantalla */
    height: auto; /* Mantiene la proporción de la imagen */
    padding: 0.1px;
    box-shadow: 0 0 0.1px rgb(255, 255, 255);
    margin: 10px auto; /* Centra la imagen horizontalmente */
    border-radius: 5%; /* Bordes redondeados */
    display: block; /* Asegura que ocupe toda la línea */
}

/* Estilo para el contenedor principal */
main {
    max-width: 100%; /* Asegura que el main ocupe el 100% del ancho */
    padding: 0.1rem; /* Un pequeño espacio alrededor */
}

/* Estilos para las imágenes en aside */
aside img  {
    width: 80%; /* La imagen en aside ocupa el 100% del contenedor */
    height: auto;
    border-radius: 5%;
}

/* Estilos para el pie de página */
footer {
    margin-top: 0.1rem; /* Reduce el margen superior */
    border-top: 0.2px solid #000; /* Un borde más delgado */
    text-align: center;
    font-size: 0.5rem; /* Reduce el tamaño de la fuente */
    min-height: 1vh; /* Reduce la altura mínima del footer */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    padding: 0.1rem; /* Agrega un poco de relleno para que no quede tan apretado */
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none; /* Quitar subrayado de los enlaces */
    font-family: 'ADLaM Display', sans-serif;
    font-size: 3vw; /* Ajusta el tamaño con relación al ancho de la pantalla */
    color: #190303;
}

/* Estilos generales para el body */
body {
    background: linear-gradient(to bottom, #02779B, #5BC6E7); /* Degradado de calipso oscuro a claro */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center;
    width: 100%; /* Asegura que el body ocupe el 100% del ancho */
    font-size: 2vw; /* Ajusta el tamaño de la fuente con relación al ancho de la pantalla */
    min-height: 100vh; /* Asegura que el body ocupe al menos el 100% de la altura de la ventana */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside img:nth-of-type(2) {
    width: 30%; /* Ajusta al tamaño deseado */
    height: 10%; /* Mantener la proporción de la imagen */
    border-radius: 5%; /* Mantén los bordes redondeados si lo necesitas */
}