
nav {
    background-color: #02779B;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    background-color: #02779B;
    color: white;
    display: block;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    
    font-family: 'ADLaM Display', sans-serif; /* Aplica la fuente */
    font-size: 2.5rem; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
    text-align: center;
    width: 1200px;
    
    font-family: 'ADLaM Display', sans-serif; /* Aplica la fuente */
    font-size: 2.5rem; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
    text-align: center; /* Alineación opcional */

}

main img {
    width: 300px;
    height: 10x solid black;
    padding: 1px;
    box-shadow: 0 0 0.1px rgb(255, 255, 255);
    float: right;
    margin: 10px;
    border-radius: 5%;
}

p {
    margin: 0.1rem;
}

 main{
    max-width: 900px;
}



aside img{
    width: 400px;
    height: auto;
}



footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    font-family: 'Poppins', sans-serif; 
}


/* class selector*/

.box{
    margin: 2rem;
    border: 2px solid rgb(0 0 0/.1);
    padding: 2rem;
    background-color: #ddd;
    color: #000;
}

body {
    background: linear-gradient(to bottom, #02779B, #5BC6E7); /* Degradado de calipso oscuro a claro */
    font-family: 'Poppins', sans-serif; /* Fuente predeterminada */
    margin: 0;
    padding: 0;
    color: darkblue;
    font-family: 'ADLaM Display', sans-serif; /* Aplica la fuente */
    font-size: 1.5rem; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
    text-align: center;
    width: 950px;
    
}
